Django==5.1
djangorestframework==3.15
djangorestframework-simplejwt==5.3
django-cors-headers==4.4
django-filter==24.3
psycopg2-binary>=2.9
celery==5.4
redis==5.1
channels==4.1
channels-redis==4.2
Pillow>=10.4
gunicorn==23.0
python-dotenv==1.0
requests==2.32
reportlab==4.2
opencv-python>=4.10.0
mediapipe>=0.10.0
numpy>=2.1.0
